@media screen and (max-width: 900px){
    .logo{
        display: block;
    }

    .button-account, .button-editAccount{
        margin-top: 75px;
    }
    
    .myOrder{
        width: 75%;
    }
}

@media screen and (min-width: 900px){
    .button-login-signup{
        margin-top: 50px;
    }
       
    .button-myDatas{
        margin-top: 50px;
    }   
}