@media screen and (max-width: 300px){
    .form-container-newPassword{        
        width: 200px
    }

    .logo{
        display: block;
    }

    .myOrder{
        width: 95%;
    }

    .shopping-cart-myOrder{       
        width: 85%;
        margin-left: 5%;
    }

    .shopping-cart-container figure img {
        width: 70px;
        height: 70px;
    }


}